
html {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

canvas {
    border:1px solid #000000;
}

#container {
    margin: auto;
    text-align: center;
    position: relative;

    & > div {
        position: absolute;
    }
    & > canvas {
        position: absolute;
        top: 0;
        left: 0;
    }

}

.rectangle {
    border: 2px solid #000000;
}
