@import "../node_modules/bootstrap-scss/bootstrap";

html {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}


#grid_container {
    @extend .container-fluid;
    @extend .vh-100;
    @extend .d-flex;
    @extend .flex-column;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*height:100%;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
}

#grid {
    @extend .row;
    @extend .flex-column;
    @extend .flex-grow-1;
    /*@extend .h-75;*/
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-self-stretch;
    /*@extend .w-75;*/
    @extend .m-4;
    /*margin: 0 auto;*/
    /*align-self: center;*/
    /*height: 90vh;*/
    /*width: 90vw;*/
    /*max-width: 80%;
    max-height: 80%;*/
    /*width: 50%;
    height: 50%;*/
}

#control {
    /*align-self: flex-end;*/
    @extend .row;
    @extend .align-self-end;
    /*@extend .h-25;*/
    @extend .form-inline;
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .w-100;
    @extend .p-4;
    /*justify-content: center;*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*padding: 2%;*/
}
